<section>
  <modal-component></modal-component>

  <header-component></header-component>

  <hero-component></hero-component>
    
  <div class=" flex gap-[250px] justify-center mt-24 flex-wrap">
    <iconic-component :title="'Experience Lightning-Fast DNS for Seamless Online Presence!'" :image="'bolt.svg'"></iconic-component>
    <iconic-component :title="'Effortlessly Secure Your Online Identity with Simplified Domain Registration!'" :image="'lock.svg'"></iconic-component>
  </div>

  <div class=" bg-[#FAC710] mt-16 px-[16%] py-[5%]">
    <div class=" max-w-[1280px] mx-auto">
      <div class=" flex items-center justify-between flex-wrap">
        <div class="w-[51%]">
          <h1 class=" text-2xl mb-6">Simple Domain Registration Process</h1>
          <p>Registering your domain has never been easier with our streamlined process. Whether you're a seasoned website owner or just starting your  online journey, we're here to guide you effortlessly and step by step.</p>
        </div>
        <img src="browsing.svg" alt="browsing_illustration" class="w-[300px] "/>
      </div>
      <div class=" flex items-center justify-between mt-[80px] flex-wrap">
        <img src="search.svg" alt="search_illustration" class="w-[300px] "/>
        <div class="w-[51%] ">
          <h1 class=" text-2xl mb-6">Wide Selection of TLDs and Extensions</h1>
          <p class=" pr-[44px]">Choose from a vast selection of top-level domains (TLDs) and extensions to find your perfect match. Whether  you're looking for a traditional .com or a specific industry-focused  TLD, we've got you covered.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-[url('/bananas.png')] h-[100vh] flex items-center ">
    <div class="max-w-[1280px] mx-auto flex flex-col items-center text-center py-[100px] border-black w-1/2 border-[5px] bg-white">
      <h1 class="text-[#1A1A1A] text-[2rem]">DNS Management Made Simple</h1>
      <p class="text-[#1A1A1A] text-[1.3rem] my-[20px]">Start Your Online Journey Today<p>
      <signup-button></signup-button>
    </div>
  </div>

  <footer-component></footer-component>
</section>